<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RoomServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="RoomServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44388/RoomService.asmx"
                binding="basicHttpBinding" bindingConfiguration="RoomServiceSoap"
                contract="RoomServiceReference.RoomServiceSoap" name="RoomServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>